API_PASS=admin
API_URL=web:5000
API_URL_FRONT=http://localhost/api/
API_SSL=false
API_ALLOW_ORIGIN=*
BACKOFFICE_URL=web:80
MAP_API_KEY=*********************************
API_SESSION_LIFETIME=3600
UPLOAD_PATH=/uploads